*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header {
    background-color: rgb(81, 201, 231);
  

}
nav{
    display: flex;
    justify-content:space-around;
   /* background-color: rgb(81, 201, 231);*/
    align-items: center;
    min-height: 8vh;
  
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-left: 10%;

}
.nav-links li{
    list-style: none;
   
}
.nav-links a{
    color: rgb(32, 18, 66);
    text-decoration: none;
    letter-spacing: 1px;
    
}
.search-bar{
    
    
}
input{
    padding: 7px;  
}