/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'roboto';
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: aliceblue;


}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

div {
    display: block;
    }
    button, input, optgroup, select, textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        }
        *, ::after, ::before {
        box-sizing: border-box;
        }
/*------------------card style---------------------*/
.card-body {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1.5rem 1.5rem;
    width: 60%;
    top: 9rem;
    left: 15rem;
    text-align: center;
    align-items: center;
    background-color: rgb(194, 239, 250);
}
.card-title {
    margin-bottom: .5rem;
}

/*---------------------------input style------------------*/

input {
    
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-align: center;
    appearance: auto;
    cursor: text;
    margin: 0em;
}

.row { 
    display:flex;
    flex-wrap:nowrap;
    }


    .input {
        display: block;
        width: 100%;
        padding: .75rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        appearance: none;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

/*---------------select style-------------------------*/


select {
    text-rendering: auto;
    letter-spacing: normal;
    word-wrap: normal;
    display: inline-block;
    text-align: start;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    cursor: default;
}

.form-select {
    display: block;
    width: 100%;
    padding: .75rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height:  .8;
    color: #212529;
    background-color: #dee1e4;
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-image: url(../degree-converter/assets/caret-down-fill.svg);
    border: 1px solid #ced4da;
    border-radius: .25rem;
    appearance: none;
    
}

.equal-sign {
    display: inline-block;
    line-height: 50px;
    width: 40px;
    text-align: center;
    font-size: 36px;
    color: #6c6d6e;
    padding-top: 10px;
    vertical-align: top;
    margin-left: -4px;
    margin-right: -4px;
}

/*-----------------media query----------*/
@media screen and (max-width:1024px) {
    body {
        font-family: 'Lobster Two', cursive;
        font-weight: 500;
        font-size: 1.5rem;
    }
    .card-body {
        padding: 1rem 1rem;
        width: 70%;
        top: 7rem;
        left: 8rem;
        background-color: rgb(179, 250, 223);
    }
    input {
        display: block;
        width: 70%;
        padding: .55rem .55rem;
        font-size: 1.2rem;
        line-height: 1;
    } 
    
}

  
@media screen and (max-width:768px)  {
    body {
        font-size: 1.2rem;
    }
    .card-body {
        padding: 1rem 1rem;
        
        top: 5rem;
        left: 8rem;
        background-color: rgb(250, 237, 179);
    }
    input {
        display: block;
        width: 50%;
        padding: .35rem .35rem;
        font-size: .2rem;
        line-height: 1;
    }
 
 
}
@media screen and (max-width:480px) {
    .card-body {
        padding: 1rem 1rem;
        width: 70%;
        top: 3rem;
        left: 4rem;
        background-color: rgb(90, 74, 5);
    }
    input {
        display: block;
        width: 40%;
        padding: 1px, 1px;
        font-size: .2rem;
        line-height: .4px;
    }
    
}